.title-desc-container {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.add-new-question{
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.question-cards{
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.question-header-container {
  .question-name {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .c-button-delete {
    text-decoration: none;
    color: rgb(176, 0, 0);
  }
  .c-button-edit {
    text-decoration: none;
    color: gray;
  }
  .c-button {
    text-decoration: none;
  }
}

.input-field {
  background-color: white;
  margin: 10px 0;
  box-shadow: none;
  border: 1px solid gray;
}

.spinner-position{
  left: 38%;
  bottom: 45%;
}
