//grid
.tbl-mygrid {
    //display: grid;
    // grid-template-columns: 1fr 2fr 80%; 
    max-width: 600px;
    border: 2px solid #6c757d;
    border-collapse: collapse;
}
table.tbl-mygrid td {
    padding: 0.5rem;
    border: 1px solid #6c757d;
}
table.tbl-mygrid th {
    padding: 0.5rem;
    border: 1px solid #6c757d;
}
.tbl-mygrid th {text-align: center; background-color: #6c757d; color: white;}

.tbl-mygrid a {
        margin:0 auto;    
        display:block;
     }
.tbl-mygrid tr:nth-child(even) {background: #dee2e6}
.tbl-mygrid tr:nth-child(odd) {background: #f4f4f4}

.tbl-mygrid a.btn {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    color: white;
}
.tbl-mygrid tr.tr-clicked{ background-color: #28a745 !important; color: white !important;}
