//pagination
.pagy-nav > .prev {
    margin-right:  5px !important;
}
.pagy-nav > .active {
    margin-right:  5px;
    margin-left:  5px;
}
.pagy-nav > .next {
    margin-left:  5px;
}
span {
    margin-right:  5px !important;
}