<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/omag_home.jpeg);">
  <div class="container">
    <h1>Qualify your prospects beyond the pushy sales talk</h1>
    <p>Make the most out of your client maturity assessments.</p>
    <%= link_to "Get started", "#", class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
    <h3 class="mb-4 mt-4">How it works</h3>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/omag_home.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Decide how many categories and levels your questionnaire should consist of</h5>
              <p>Categories are different business fields (for example: servers, software, hardware etc). Levels describe how individual categories should be evaluated</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://www.fnp.de/bilder/2022/02/09/91320177/28117053-die-urspruenglichen-plaene-fuer-den-central-business-tower-der-helaba-mit-seiner-markanten-fassade-stammen-von-ksp-engel-und-reichen-bis-2001-zurueck-1Gfe.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Create an individual questionnaire with many different questions you want to ask your client</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://www.fr.de/bilder/2022/06/28/91636595/29251727-so-soll-der-neue-bueroturm-im-frankfurter-europaviertel-von-norden-aus-aussehen-2kU2Lfv0cofe.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
