<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Finish & Send
  </button>
  <ul class="dropdown-menu p-3">
    <li><%= simple_form_for [@assessment, @response] do |f| %>
        <%= f.input :user, collection: users, label_method: :email, selected: users.first %></li>
  <%= f.submit "Send to selected user", class:"btn btn-primary" %>
  <% end %>
  </ul>
</div>
